extend layout

block content
  h2 Cookie Demoparty 2017
  p The festival took place at Jardin d'Alice, Montreuil, France on December 8 &amp; 9.
  p: a(href="https://demozoo.org/parties/3486/") See the competition entries and results here!
  iframe(width="730" height="410" src="https://www.youtube.com/embed/Lx-vsXWUrGA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  p: img.wide(src="/images/2017/DSC08214.jpg")
  p: img.wide(src="/images/2017/DSC08243.jpg")
  p: img.wide(src="/images/2017/DSC08271.jpg")
  p: img.wide(src="/images/2017/DSC08287.jpg")
  p: img.wide(src="/images/2017/2017-12-09_18.55.48.jpg")
  p: a(href="https://www.facebook.com/pg/CookieDemoparty/photos/?tab=album&album_id=1987594361489235") Cookie Collective's Facebook album
  p: a(href="https://www.facebook.com/pg/CollectifLeJardindAlice/photos/?tab=album&album_id=1761237227513267") Jardin d'Alice's Facebook album
