extend layout

block header
  h1 Competitions

block content
  h2 General rules
  ul
    li The production must not have been released previously.
    li Remote entries are allowed!
    li You should only submit your own work. In particular, copyrighted material is strictly forbidden.
    li You CAN start working on your production NOW. The production does NOT need to be made 100% at the party place.
    li Deadline is saturday 2016-12-03 @7PM CEST
    li Winners will be determined by voting from all visitors.
    li Entries may be disqualified by the orga team if deemed innapropriate (pornography, illegal content...) or breaking the rules listed here.
  p If you have questions regarding the rules, feel free to send them to rules@demojs.org.

  h2 Food!
  
  h2 Size limited (1k, 8k)

  p Play with a few bytes!

  ul
    li Everything needs to fit in one or more files within the allowed limit.
    li Note that 1k means 1024 bytes or less. Counting is done in bytes, *not* characters (beware of Unicode).
    li The production has to work offline. (no HTTP server required, no internet connection).
    li You are NOT allowed to retrieve content from the Internet.
    li You should not use any operating system provided media files such as the "Media" and "Music Samples" directory.
    li You can use built-in generic fonts such as serif, sans-serif.

  h2 Demo

  p No size limit, but it must be real-time!

  ul
    li No maximum filesize. However don't try to run a movie in an iframe.
    li Must be non-interactive.
    li You can retrieve external content from the Internet, but it is at your own risk. We shall not be liable for connection problems during demo projection.

  h2 Music
  
  h2 Wild
  
  h2 Compo machine
  p The compo machine will be a PC with Windows, on which we can install software as needed (e.g DOSBox). For anything funkier than that, please bring your own hardware or get in touch with us so that we can prepare the appropriate environment for your production.
  
  p Specs:
  ul
    li Xeon 6 cores HT
    li 64GB RAM
    li GTX 970
