extend layout

block content
  h2.long GPU (Glitch Processing Unit)
  p GPU is a puzzle game based on shaders and an alternative controller: a wooden box with sixteen buttons on its upper side. An image is displayed on a screen, distorted by shaders in real time. Each visual alteration is randomly assigned to buttons modifying the effect. Players must fix these glitches to reveal the hidden image behind the bugs.
  p Made by <a href="/event-tatiana-vilela">Tatiana Vilela</a> & <a href="/event-leon-denise">Leon Denise</a>
  p: a(href="http://mechbird.fr/gpu.html") http://mechbird.fr/gpu.html
  p: img.wide(src="/images/events/gpu.jpg")
