extend layout

block content
  h2 Léon Denise
  p Live visual performance using video games tools to explore and experiment new ways of perceiving realities.
  p Visuals goes from image filters, to particle system and fractal worlds.
  p Performance live visuelle qui utilise les outils du jeu vidéo pour explorer et expérimenter de nouvelles manières de percevoir les réalités.
  p: a(href="http://shaderland.com") http://shaderland.com
  p: img.wide(src="/images/events/leon-denise.gif")
