extend layout

block content
  h2 Tatiana Vilela dos Santos
  p Tatiana Vilela dos Santos is a game designer & interactive artist. She creates games playable in venues around the world with her project MechBird. Her works take experimental forms from ALT CTRL to electronic installations & interactive performances.
  p: a(href="http://mechbird.fr/") http://mechbird.fr/
  p: img.wide(src="/images/events/tatiana.jpg")
