extend layout

block content
  h2 Stereopolis, by GLKT (Benjamin Vedrenne)
  p Stereopolis is an interactive installation for visual exploration. It consists of an immersive experience projected onto a circular glass screen, that visitors can interact with using a regular video-game controller. It features a 360° perception that creates a surprising distortion of elegant, colorful and kaleidoscopic visuals.
  p: a(href="http://www.glkitty.com/pages/stereopolis.html") http://www.glkitty.com/pages/stereopolis.html
  p: img.wide(src="/images/events/stereopolis.jpg")
