extend layout

block content
  h2 Speedruns
  p The “Club des Sacs” is an association of enthusiasts that promotes video games culture, arcade and competitives gaming through a variety of events.
  p We will be coming to the Cookie Demoparty to show you the art of speedruning, explaining what it is and showing some runs with games like Broforce and Hotline Miami.
  p: img.wide(src="/images/events/speedruns.png")
