extend layout

block content
  h2 Demoparty
  p Demos are animations, which are generated in real-time on a computer. In brief, they are not stored in a MP4 file, but in a program, and every time you launch it, the animation is generated again. It’s actually very close to in-game cinematics in video games.
  p The challenges here are both artistic (the animation should be appealing and aesthetically interesting) and technical (how to overcome the hardware limits of the machine?). Demo stands for demonstration of one’s (or more often a group’s) skills, and demoparties are the regular meetings in which artists show their work. Be there on Saturday at 9 PM to watch the competitions!
  p The Cookie Demoparty is more than a demoparty: it welcomes all artistic practices involving real-time digital creation. This encompasses live coding performances, playful installations, video games, machinimas, and of course, concerts.
  p It originates from the DemoJS Demoparty, which has taken place every year between 2011 and 2014. At that time, web technologies were not recognized as medium in the demoscene, however that demoparty only focused on these technologies, and helped to legitimate them, so that nowadays they are accepted and quite common. There were no needs for a web-specific demoparty anymore, so it has been reborn as the Cookie Demoparty.
  p: a(href="https://en.wikipedia.org/wiki/Demoparty") More information
  p: img.wide(src="/images/events/demoparty.jpg")
