extend layout

block content
  h2 NAO - Venomous Master
  p: em Presented by <a href="http://vision-r.org/">Vision'R</a>.
  p Dú Shou (毒手 "the poisoned fist") is a legendary kung fu style from ancient China.
  p But the poison can become an antidote according to its use.
  p Venomous Master's performance projects the modern notion of digital contagion by manipulating a robotic tentacle hand. Is it evil or good?
  p: a(href="http://projects.drabs.org/") http://projects.drabs.org/
  p: img.wide(src="/images/events/nao.jpg")
