extend layout

block content
  h2 F.L.U feat. LOGILOGAN
  p Nothing is fixed, and nothing is eternal. Free improvisation on a circuit bending 80s casio toy and a multi layers of dark voices from hell
  p: a(href="https://www.facebook.com/XXFLUXX/") https://www.facebook.com/XXFLUXX/
  p: a(href="https://sortofspeak.bandcamp.com") sortofspeak.bandcamp.com
