extend layout

block content
  h2 Audio Live Coding Paris
  p A round-about collective of digital artists and musicians, using SuperCollider and TidalCycles to collaboratively create music in real-time. Their improvised concerts oscillate between hard techno, noise, funk, disco, and nu-jazz.
