extend layout

block content
  h2 Acoustic Devices
  p A harsh world of dark synthetic psychedelia to ambiance your dystopia existence, ACOUSTIC DEVICES brings improvised algorithmic composition to the world of noise. Military precision to the development of your tinnitus. Like if Steve Reich and the Dead Kennedys had a angry and nihilistic love child who spent too much time hacking sound and burning shit with a soldering iron. 
  p: a(href="http://www.acoustic-devices.cc/") http://www.acoustic-devices.cc/ 
