extend layout

block content
  h2 Flopine
  p Flopine will go with the Run! Run! Jump! Punch! chiptune by coding real-time visual effects in a live performance. 

  .bio
    img.face(src="/images/events/flopine.png")
    p She is a digital artist and performer through live coding. Originally from the 3d production, she then discovers her passion for shadercoding in demoparty. 
    p Revision's Shader Showdown finalist, she performs in a lot of live coding events since. She recently used her skills in a 15 minutes performance at the end of Chanel Foundation's gala, going along with classical music and traditional drawing.
    p Her artistic activity blends code, mathematics and visuals. Those 3 components are essentials in her perspective, they all are a part of the intention and the final work.
    p Flopine is also doing a PhD in the field of digital art at INREV, a research team of Paris VIII university.
