extend layout

block content
  h2 Machine Sauvage - Méconium
  p: em Presented by <a href="http://vision-r.org/">Vision'R</a>.
  p Groove boxes, synths and visuals. Overlayers of science fiction interfaces create narratives. Sound brutality is reinforced by stroboscopic use of huge GIF bank, artifacts from the web. Randomness and speed boosts performers improvisation.
  p A motion design and procedural media server mix, on a radical sound design somewhere between Edgar Varèse and Thunderdome.
  p: a(href="http://machinesauvage.com") http://machinesauvage.com
  p: img.wide(src="/images/events/machine-sauvage-meconium.png")
