extend layout

block content
  h2 Pollen, by Thomas Hooper
  p People would be able to create a pollen grain with their own reflection, then press a button to send it to the monitor, where it will join the collection that's floating around on display.
  p: a(href="https://tdhooper.github.io/pollen/preview/") https://tdhooper.github.io/pollen/preview/
