extend layout

block content
  h2 Run! Run! Jump! Punch!
  p Run! Run! Jump! Punch! cooks chiptune and punk-rock flavored pieces of music, filled with energy and positiveness. As if Blink 182 met Jean-Michel Jarre.
  p: a(href="https://runrunjumppunch.bandcamp.com/") https://runrunjumppunch.bandcamp.com/
  p: img.wide(src="/images/events/run-run-jump-punch/cover.jpg")

  .bio
    img.face(src="/images/events/run-run-jump-punch/photo.jpg")
    p <a href="https://twitter.com/NoNameNoSocks">Robin</a> plays the guitar. He is a pixel artist and is involved in games, cartoon series, and artworks.
    p <a href="https://twitter.com/GrizzlyCogs">Boris</a> plays synths. He has previously made chiptune and electronic music as Grizzly Cogs
    p Thomas plays the bass and is in love with darkness. He is also an animator for short movies.
