extend layout

block content
  h2 Video Game Music Adventures Ep. 2 (French)
  p Video Game Music Adventures (Aventures musicales vidéo-ludiques) est un projet de web-série sur un domaine à la fois atypique et pluriculturelle : les musiques de jeu vidéo. Un nomadisme culturel à la rencontre de compositeurs japonais. Le titre de l’émission, en anglais, se veut un clin d’œil à nombre de jeux vidéo eux-mêmes « anglicisés » par la culture nippone.
  p: img.wide(src="/images/events/vgma.jpg")
