extend layout

block content
  h2 Leon Denise
  p Leon Denise uses video game tools to explore and experiment new ways of perceiving realities.<br/>He dreams about image filters and distortion effects in a land of singing pixels and dancing polygons.<br/>His artistic approach is inspired by the scientific experimentation, the serendipity and the art of error.
  p: a(href="http://shaderland.com") http://shaderland.com
  p: img.wide(src="/images/events/leon-denise.gif")
