extend layout

block content
  h2 50D &amp; Lsdlive
  p: img.wide(src="/images/events/lsdlive.gif")

  .bio
    p 50D
    p 2 years after squating bars, boats, basements, living rooms and cathedrals with his collective La Trêve, 50D figured out how to make his own beats and decided to stop play others', swapping his precious dj controller with synthetizers. His first live set, entirely made for the Cookie, will showcase every lesson he learned during these entire months of soulful drum&amp;bass/jungle mixes, for a 30min continuous stream of original bass music tunes, backed by Lsdlive's generative visuals.

  .bio
    p Lsdlive
    p Lsdlive is an artist &amp; creative programmer from the hacker culture. Used to visual live coding performances and shader showdowns - timed battle of live coding, he will put his computer keyboard aside to give you a VJ set synthesized and improvised in real time from an algorithmic machine programmed by himself, responding to the beat of 50D's electronic music.
