extend layout

block content
  h2 Video room
  p This dark, calm room is dedicated to video projections. Whenever you want to relax, have a break there and enjoy watching documentaries about the demoscene, outstanding demos, machinimas, and other videos.
