extend layout

block content
  h2 Live Code Yourself!, by Tom Desai
  p Use a computer, 
  p make noises, blip, blop, and bloop.
  p Manipulate sound,
  p learn TidalCycles, create a generative loop. 
  p Play nicely together,
  p a single environment, let’s use Troop!
  p Play with noise, 
  p use Supercollider, make frequencies stoop!  

  .bio
    p Tom Desai (AKA ACOUSTIC DEVICES) is an algorithmic musician, sound-artist, and noise-maker based in Paris. He organises algoraves in Paris, generally floats around annoying people and making shitty music, and has participated in various art projects around the world. You can check out his chronically out of date website below at the following link:     
