extend layout

block content
  h2 evvvvil &amp; Oddjohn - RECURSIVE INFINITY
  p Real-time audio-visual live performance where endless visuals and music both follow the theme of recursive infinity: a never-ending fractal train journey through procedural abstract worlds, cities and space. Made with code, rendered in real-time in vvvv with audio-responsive sync from Ableton Live.
  p: a(href="https://vimeo.com/251957445") https://vimeo.com/251957445
  p: img.wide(src="/images/events/evvvvil-oddjohn/wip_new_set10.jpg")
  p: img.wide(src="/images/events/evvvvil-oddjohn/wip_new_set07.jpg")

  .bio
    p <em>evvvvil</em> makes visuals with code, digital fucking art, interactive shit, design & works part-time as a dog therapist. Demoscener with demo group DESiRE. Keeping it real-time.
    p <a href="https://vimeo.com/evvvvil">Vimeo</a> / <a href="https://www.instagram.com/_evvvvil">Instagram</a>

  .bio
    p <em>OddJohn</em> is a House & Techno producer originally from France but living in London for the past 10 years. After his album "John's grooves and moods" he just release a new EP called <a href="https://oddjohnfr.bandcamp.com/album/ladbroke-grove-ep">"Ladbroke grove"</a>.
    p <a href="https://soundcloud.com/oddjohnofficial">SoundCloud</a> / <a href="https://oddjohnfr.bandcamp.com/">Bandcamp</a>
