extend layout

block header
  img(src="logo.png" style="margin: 0 auto; display: block;")
  h1 Cookie 2016
  p December 2nd to 3rd, 
    a(href="/location") Paris
  
block content
  h2 The Cookie Demoparty
  p Cookie is a day-long demoparty, open to everyone:
  ul
    li The event is free
    li There is something for everyone (concerts, conferences, beers...)
    li The team is friendly and eager to help newcomers

  h2 History
  p The Cookie party is the child of 
    a(href="http://demojs.org") DemoJS
    | , but now officially open to all platforms! After the success of
    | #FuckJS in the last edition, we decided to stick with multi-platform
    | competitions.
  p To avoid confusion, a rename was needed, and Cookie was born! (you'll note
    | the subtle reference though ;)