doctype html
html
  head
    meta(charset='utf-8')
    title Cookie Demoparty 2018
    link(rel='stylesheet', href='files/style.css')

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Cookie Demoparty')
    meta(name='description', content='Demoparty on November 30 and December 1 in Paris, France.')

    meta(property='og:description', content='Demoparty on November 30 and December 1 in Paris, France.')
    meta(property='og:image', content='/thumbnail.png')
    meta(property='og:site_name', content='Cookie Demoparty')
    meta(property='og:title', content='Cookie Demoparty')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://cookie.paris')

    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Demoparty on November 30 and December 1 in Paris, France.')
    meta(name='twitter:image', content='/thumbnail.png')
    meta(name='twitter:site', content='@CookieDemoparty')
    meta(name='twitter:title', content='Cookie Demoparty')

  body
    .hide(style='font-family: bebasneue_bold') .
    script(src='files/demo.js')
