extend layout

block header
  img.wide(src="images/cookie.png")

block content
  h2 What is Cookie?
  p Cookie Demoparty is a digital art festival focused on real-time practices.
  p It has grown from being just a <a href="https://en.wikipedia.org/wiki/Demoparty">demoparty</a>, and now includes other practices: experimental video games, playful installations, machinimas, live coding performances, and of course, live acts.
  p This year, we welcome you on <a href="/timetable">November 30 and December 1</a> at <a href="/location">Folie Numérique in Paris, France</a>.
  p Come over the weekend and watch stunning animations on modern or retro computers, attend to workshops and live performances, or simply meet passionate people around a beer.
  p Don't be afraid if you are a newcomer, people will kindly help you, so come and enjoy the party!

  h2 How much does it cost?
  p We organize this event to gather artists with different practices, in order to share and develop our cultures. We do not want that money hinder this.
  p Thus, the entry is at an open price: pay what you want.
  p This does not mean that the festival is free: we need your support to make the event possible. We simply acknowledge that different visitors have different financial resources, so contribute accordingly.
  p If you like the event, and would like that it happens again next year, please consider donating! 

  h2 What to do now?
  p Check out the <a href="/timetable">timetable</a> and get excited for all the activities.
  p <a href="/visitors">Annonce your visit</a> and see if your friends are coming too!
  p Check out the <a href="/location">location info</a> and prepare your travel and your stay.
  p If you want to show your work, read the <a href="/competitions">available competitions and their rules</a>, and prepare your entries!

  script(src='files/demo.js')
