extend layout

block header
  h1 Location

block content
  h2 Map
  p The party will take place at the SAE Institute.
  iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5245.02435947116!2d2.3691945423278806!3d48.90563331247576!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9bd9c5eb801e78cb!2sSae+Paris!5e0!3m2!1sen!2suk!4v1426175426498" style="border:0" width="430" height="450" frameborder="0")

  h2 Schedule
  p Gates will open at 10pm and the event will run until midnight.
