extend layout

block content
  h2 Folie Numérique
  p <em>La Folie Numérique</em> is a space for participative and collaborative artistic creation, dedicated to digital arts. <a href="http://folie-numerique.fr/">More info on their website (French only).</a>
  p It is <strong>NOT</strong> possible to sleep on site. <a href="https://www.hostelworld.com/…/St-Christopher-s…/Paris/19865…">You can have low prices at a nearby youth hostel in dorms.</a>
  p: img.wide(src="images/folie-numerique.jpg")

  p It is recommended to come with public transportation:
  ul
    li subway line 5, stop at Porte de Pantin;
    li subway line 7, stop at Porte de la Villette;
    li tramway line T3b, stop at Porte de Pantin or Porte de la Villette.
  p If you come by car, there are no free parking places in the neighborhood, you'll have to park in a parking facility.

  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.1723595504955!2d2.387182916053772!3d48.89305227929088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66dcba9f8eaff%3A0x423422529dc5b4c8!2sLa+folie+num%C3%A9rique!5e0!3m2!1sen!2sfr!4v1541370885607" style="border:0" width="100%" height="450" frameborder="0" allowfullscreen)
