extend layout

block content
  h2.long Glitch Processing Unit, by MechBird (Tatiana Vilela and Leon Denise)
  p Glitch Processing Unit is a puzzle game based on a custom controller: a wooden box with sixteen buttons on its upper side. Players can import an image of their choice into the game. When uploaded, the image is distorted by shaders in real time. Each visual alteration is randomly assigned to buttons modifying the effect. Players must fix theses glitches.     
  p: a(href="http://mechbird.fr/gpu.html") http://mechbird.fr/gpu.html
  p: img.wide(src="/images/timetable/gpu.jpg")
