extend layout

block content
  h2 Laser Room
  p We’re not talking about laser video projectors. They are laser show light systems: colored laser beams deflected by 2 high speed mirrors. They can point up to 30 000 points / second on wide surfaces. It's a bit like working on oscilloscopes, but a lot bigger and brighter.
  p Because it's mechanical, *there are strong hardware limitations to play with*, like in the early demo days with limited CPUs and no graphic cards. Nowadays computers are incredibly powerful, but lasers remain very slow displays. Here is the fun, all you see is computed realtime, it's dead simple and very hard at the same time, like having different post-World War II cars with 21st century dragster engines...
  p So to compare to other compos, we don’t have 30+ years of pixel software and some highly regular synchro to build on. The laser compo is in its infancy with newborn limited frameworks, but the only two needed skills are ideas and programming point lists generators like y = 2x :-)
  p This year, with the first ever multi laser compo, we anticipate some really unseen and blasting visuals.
  p If you want to give a try at laser coding, come and join us! We have limited spare computers and we use open source laser controllers with many lang support: Go, Python, C, Javascript,... Then, submit your entry in the <a href="/competitions#laser">Laser competition</a>!
  p Safety note: like all lasers, the ones we have here are highly dangerous for your eyes (and you probably don't have spare eyes, do you?) so everyone is welcome to join the laser compo but you must comply with safety instructions that you will be given.
  p: img.wide(src="/images/timetable/laser.jpg")
