extend layout

block header
  h1 Timetable

block content
  h2 Opening time
  p Gates will open at 9am and the event will run until midnight.

  h2 Concert
  p
    a(href="https://www.facebook.com/GrizzlyCogs/") Grizzly Cogs
    |  will play on Saturday night!
  
  h2 Detailed schedule
  ul
    li 2pm-6pm - Open stage for conferences and free expression
    li 7pm - Deadline for all compos
    li 8pm - Compos
    li 10pm - Concert: Grizzly Cogs
    li 11pm - Results
