extend layout

block content
  h2 During the whole festival
  p: a(href="/event-laser") Laser room dedicated to laser coding.
  p: a(href="/event-video-room") Video room, showing demoshows, documentaries, machinimas, and other videos.
  p Video games and playful installations:
  ul
    li: a(href="/event-arcade-machine-tony") Custom Arcade Machine by Tony Lallenec
    li: a(href="/event-arcade-machine-vincent") Custom Arcade Machine by Vincent Malizia
    li: a(href="/event-game-jockey") Game Jockey by Alineaire
    li: a(href="/event-gpu") GPU by Tatiana Vilela
    li: a(href="/event-pollen") Pollen by Thomas Hooper
    li: a(href="/event-stereopolis") Stereopolis by Benjamin Vedrenne

  h2 Friday, November 30
  table.table.timetable
    thead
      tr
        th Time
        th Category
        th Event
    tbody
      tr
        td 14:00
        td
        td Gates open
      tr
        td 19:45
        td
        td Opening ceremony
      tr
        td(rowspan=2) 20:00
        td: .category.competition Competition
        td: a(href="/event-shader-showdown") Shader Showdown
      tr
        td: .category.performance Audio Performance
        td: a(href="/event-audio-live-coding") Audio Live Coding Paris
      tr
        td 21:00
        td: .category.performance Audio-Visual Performance
        td 
          a(href="/event-machine-sauvage-meconium") Machine Sauvage - Méconium
          br
          a(href="/event-leon-denise") Léon Denise
          br
          em Presented by <a href="http://vision-r.org/">Vision'R</a>.
      tr
        td(rowspan=2) 22:00
        td: .category.competition Competition
        td: a(href="/event-shader-showdown") Shader Showdown
      tr
        td: .category.performance Audio Performance
        td: a(href="/event-audio-live-coding") Audio Live Coding Paris
      tr
        td 23:00
        td: .category.performance Audio Performance
        td Madcat
      tr
        td 23:30
        td: .category.performance Audio-Visual Performance
        td: a(href="/event-50d-lsdlive") 50D &amp; Lsdlive
      tr
        td 0:00
        td: .category.performance Audio Performance
        td: a(href="/event-acoustic-devices") Acoustic Devices
      tr
        td 1:00
        td
        td Gates close

  h2 Saturday, December 1
  table.table.timetable
    thead
      tr
        th Time
        th Category
        th Event
    tbody
      tr
        td 10:00
        td
        td Gates open
      tr
        td 12:30
        td: .category.talk Talk
        td: a(href="/event-animaux-jeux-video") Animaux et Jeux Vidéo, by Antoine Herren and Yacine Synapsas (French)
      tr
        td 14:00
        td: .category.workshop Workshop
        td: a(href="/event-live-code-yourself") Live Code Yourself!, by Tom Desai
      tr
        td 16:00
        td: .category.speedrun Speedrun
        td To Be Announced
          br
          em In the Video room, on the first floor. 
      tr
        td 16:00
        td: .category.workshop Workshop
        td: a(href="/event-jpeg-crush") JPEG Crush, by Kaspar Ravel
      tr
        td 18:00
        td: .category.competition Competition
        td: a(href="/event-demoparty") Submission deadline
      tr
        td(rowspan=2) 19:00
        td: .category.competition Competition
        td: a(href="/event-demoparty") Music
      tr
        td: .category.performance Visual Performance
        td Visual Jam
      tr
        td(rowspan=2) 19:30
        td: .category.competition Competition
        td: a(href="/event-shader-showdown") Shader Showdown
      tr
        td: .category.performance Audio Performance
        td: a(href="/event-super-toy-magic") Super Toy Magic
      tr
        td 20:30
        td: .category.competition Competition
        td: a(href="/event-demoparty")
          | Food
          br
          | Wild
          br
          | Graphics
          br
          | Oldskool demo
          br
          | PC 4k intro
          br
          | PC 64k intro
          br
          | Newskool demo
      tr
        td 21:30
        td: .category.performance Audio-Visual Performance
        td
          a(href="/event-nao") NAO - Venomous Master
          br
          em Presented by <a href="http://vision-r.org/">Vision'R</a>.
      tr
        td(rowspan=2) 22:00
        td: .category.competition Competition
        td: a(href="/event-shader-showdown") Shader Showdown
      tr
        td: .category.performance Audio Performance
        td Alkama
      tr
        td 23:00
        td 
        td Prize giving ceremony
      tr
        td 23:30
        td: .category.performance Audio-Visual Performance
        td
          a(href="/event-run-run-jump-punch") Run! Run! Jump! Punch!
          br
          a(href="/event-flopine") Flopine
      tr
        td 00:00
        td: .category.performance Audio-Visual Performance
        td
          a(href="/event-evvvvil-oddjohn") evvvvil &amp; Oddjohn
      tr
        td 1:00
        td
        td Gates close
