extend layout

block content
  h2.long Animaux et Jeux Vidéo, by Antoine Herren and Yacine Synapsas (French)
  p 2048, tous les animaux ont disparu de la surface du globe... Les connaissances des anciens ont été oublié par l'humanité... Vous avez donc été choisi parmi les meilleur.e.s pour participer à une expérience en réalité virtuelle immersive qui pourrait aider à recréer la vie ! Conçue à partir d'une centaine de jeux vidéo, cette simulation vous invite à retrouver un paradis perdu. Vous seul, seule, humaine, humain, pourrez agencer, hiérarchiser ces informations…
  p Après Jazz et jeux vidéo : un mariage impossible, Antoine Herren et Yacine Synapsas reviennent pour une nouvelle conférence-jeu ! Dans Animaux et jeux vidéo, le public emprunte son propre chemin, participant activement à la conférence tout en évoluant dans un univers mystique. Le MJ Antoine Herren et le MC Yacine Synapsas questionneront l'audience, semant énigmes et pièges.
  p Cette conférence-jeu analyse des oeuvres proposant comme avatar ou side-kick des animaux non humanisés. Explorant, mariant et superposant ces jeux vidéo empathiques, Animaux et jeux vidéo les associe à une histoire symbolique, culturelle et artistique, interrogeant le regard que nous portons sur les autres espèces animales. Animaux et jeux vidéo transporte joueuses et joueurs dans une aventure ésotérique... Avec un twist à la clef ! 
  p: img.wide(src="/images/timetable/animaux-jeux-video/38691013_2098881737026400_527464117577973760_n.png")

  .bio
    img.face(src="/images/timetable/animaux-jeux-video/photo-antoine-herren.jpg")
    p MJ : Antoine HERREN
    p Après une école de cinéma, Antoine Herren s’intéresse activement aux jeux vidéo indépendants. Après un passage par la critique musicale, cinématographique et vidéoludique, Antoine Herren fonde RANDOM bAZAR, label de jeux vidéo alternatifs.

  .bio
    img.face(src="/images/timetable/animaux-jeux-video/yacine-synapsas.jpg")
    p MC : Yacine SYNAPSAS
    p Yacine Synapsas est un touche-à-tout : musicien expérimental (Rock In opposition, Ateliers sonores, Couguars On A Beach), musicologue atypique entre festivals, universités, inspection académique Nouvelle Aquitaine et l’U.C.O., et podcasteur sur Jeu vidéo et Synapseries sur le web média NESBLOG. Il travaille également sur la médiation et la sensibilisation des esthétiques et des publics.
