extend layout

block content
  h2 JPEG Crush by Kaspar Ravel
  p Glitch art is deliberate manipulation of data, and data is ever evolving. As our lives continuously get transcribed into bits, our relationship with data keeps changing; binding closer. The ability to control the usage of data, of information, is in the interest of anyone who has pieces of themselves stored somewhere. 
  p: img.wide(src="/images/timetable/jpeg-crush/example.jpg")
  p JPEG Crush is a workshop aimed to introduce the public to the flawed aspects of our visual society. Demystifying compression technologies and reclaiming them by databending techniques is the first step to understanding the digital spaces where our databodies sonder. From random hex editing to specific markers of the jpeg format, the corruption case study will be set on content uploaded to social media.
  p Without prior experience required and an adapted content depending on the audience's responsiveness, every participant will leave with a glitch and guidance towards further experimentation. Just bring your laptops.
  p: a(href="http://kaspar-ravel.com/project/jpegcrush") http://kaspar-ravel.com/project/jpegcrush
  p: img.wide(src="/images/timetable/jpeg-crush/workshop.jpg")

  .bio
    img.face(src="/images/timetable/jpeg-crush/kaspar.jpg")
    p Kaspar Ravel
    p New media artist && off/online curator w/ the Glitch Artists Collective, I studied computer science, maths and theater for 6 years at the Sorbonne in Paris.
    p Having been raised by the internet I find myself devoted to studying online cultures.
    p I tend to spend all the $$ I earn into plane tixx to travel the world and meet IRL w/ people that I know from the interwebz. These reunions are an interface for p debate and the org of cultural events to discuss a recurring problematic: 
    p what digital spaces for our data-selves ?
    p: a(href="http://kaspar-ravel.com/") http://kaspar-ravel.com/
    p: a(href="https://www.facebook.com/kaspar.gac/") https://www.facebook.com/kaspar.gac/
    p: a(href="https://www.instagram.com/itskaspar_/") https://www.instagram.com/itskaspar_/
