extend layout

block content
  h2 Super Toy Magic
  p Super Toy Magic is an experimental techno project played with really cheap and battery powered instruments such as Volcas and Pocket Operators. Curious to know what kind of sound those music toys could produce, the very first intention was to make noise with them but it slowly turned into electronic music inspired by Krautrock, Dance music and Acid. Every performance is fully improvised and depends of the gears used or the way they’re connected together, so it can be complete noise, dance or hardcore tech, no one knows for sure.
  p: img.wide(src="/images/timetable/super-toy-magic.jpg")
