extend layout

block header
  h1 Timetable

block content
  h2 Opening time
  p Gates will open at 10pm and the event will run until midnight.

  h2 Concert
  p
    a(href="https://www.facebook.com/GrizzlyCogs/") Grizzly Cogs
    |  will play on Saturday night!
  
  h2 Detailed schedule
  p Coming soon!
