extend layout

block content
  h2 During the whole festival
  p On the first floor:
  ul
    li: a(href="/timetable-laser") Laser room: dedicated to laser coding;
    li: a(href="/timetable-video-room") Video room: demoshows, documentaries, machinimas, and other videos;
    li Video games and playful installations:
      ul
        li: a(href="/timetable-arcade-machine-tony") Custom Arcade Machine, by Tony Lallenec;
        li: a(href="/timetable-arcade-machine-vincent") Custom Arcade Machine, by Vincent Malizia;
        li: a(href="/timetable-game-jockey") Game Jockey, by Alineaire;
        li: a(href="/timetable-gpu") Glitch Processing Unit, by MechBird (Tatiana Vilela and Leon Denise);
        li: a(href="/timetable-pollen") Pollen, by Thomas Hooper;
        li: a(href="/timetable-stereopolis") Stereopolis, by GLKT (Benjamin Vedrenne).

  h2 Friday, November 30
  table.table.timetable
    thead
      tr
        th Time
        th Category
        th Event
    tbody
      tr
        td 14:00
        td
        td Gates open
      tr
        td 19:45
        td
        td Opening ceremony
      tr
        td(rowspan=2) 20:00
        td: .category.competition Competition
        td: a(href="/timetable-shader-showdown") Shader Showdown
      tr
        td: .category.performance Audio Performance
        td To Be Anounced
      tr
        td 21:00
        td: .category.performance Audio-Visual Performance
        td 
          a(href="/timetable-machine-sauvage-meconium") Machine Sauvage - Méconium
          br
          a(href="/timetable-leon-denise") Léon Denise
          br
          em Presented by <a href="http://vision-r.org/">Vision'R</a>.
      tr
        td(rowspan=2) 22:00
        td: .category.competition Competition
        td: a(href="/timetable-shader-showdown") Shader Showdown
      tr
        td: .category.performance Audio Performance
        td To Be Anounced
      tr
        td 23:00
        td: .category.performance Audio-Visual Performance
        td To Be Announced
      tr
        td 23:30
        td: .category.performance Audio-Visual Performance
        td To Be Announced
      tr
        td 1:00
        td
        td Gates close

  h2 Saturday, December 1
  p Unless stated, all events happen on the ground level.
  table.table.timetable
    thead
      tr
        th Time
        th Category
        th Event
    tbody
      tr
        td 10:00
        td
        td Gates open
      tr
        td 12:30
        td: .category.talk Talk
        td
         a(href="/timetable-animaux-jeux-video") Animaux et Jeux Vidéo, by Antoine Herren and Yacine Synapsas (French)
      tr
        td 14:00
        td: .category.workshop Workshop
        td Audio Live Coding
      tr
        td 16:00
        td: .category.speedrun Speedrun
        td To Be Announced
          br
          em In the Video room, on the first floor. 
      tr
        td 16:00
        td: .category.workshop Workshop
        td
          a(href="/timetable-jpeg-crush") JPEG Crush, by Kaspar Ravel
      tr
        td(rowspan=2) 19:30
        td: .category.competition Competition
        td Music
      tr
        td: .category.performance Visual Performance
        td To Be Anounced
      tr
        td(rowspan=2) 20:00
        td: .category.competition Competition
        td: a(href="/timetable-shader-showdown") Shader Showdown
      tr
        td: .category.performance Audio Performance
        td: a(href="/timetable-super-toy-magic") Super Toy Magic
      tr
        td 21:00
        td: .category.competition Competition
        td Food
          br
          | Wild
          br
          | Graphics
          br
          | Oldskool demo
          br
          | PC 4k intro
          br
          | PC 64k intro
          br
          | Newskool demo
      tr
        td 22:00
        td: .category.performance Audio-Visual Performance
        td
          a(href="/timetable-nao") NAO - Venomous Master
          br
          em Presented by <a href="http://vision-r.org/">Vision'R</a>.
      tr
        td(rowspan=2) 22:30
        td: .category.competition Competition
        td: a(href="/timetable-shader-showdown") Shader Showdown
      tr
        td: .category.performance Audio Performance
        td To Be Anounced
      tr
        td 23:30
        td 
        td Prize giving ceremony
      tr
        td 00:00
        td: .category.performance Audio-Visual Performance
        td 
          a(href="timetable-run-run-jump-punch") Run! Run! Jump! Punch!
          br
          | Flopine
      tr
        td 00:30
        td: .category.performance Audio-Visual Performance
        td Mangosh
      tr
        td 1:00
        td
        td Gates close
