extend layout

block header
  h1 Timetable

block content
  p It is possible to sleep on site until Sunday 10th for the people coming from abroad.
  p We may even organize a walking tour to visit some parts of Paris, if many people ask for it!

  h2 Friday 8th
  ul
    li 2pm - Gates open
    li 7pm - Shader showdown (live shader coding)
    li 8pm - Live Act TBC
    li 9pm - Live Act TBC

  h2 Saturday 9th
  p All day long: demoshows & documentaries
  ul
    li 2pm - Talks & Workshops TBC
    li 6pm - Deadline for all compos
    li 7pm - Compos!
    li 8pm - Live Act TBC
    li 9pm - Prizegiving ceremony
    li 10pm - Live Act TBC
