extend layout

block content
  h2 Game Jockey, by Alineaire
  p Game Jockey is a game installation with 15 physical buttons that players can activate by stepping on it. Multiple games are playable, with different modes like cooperation or versus.
  p: a(href="http://www.alineaire.fr/") http://www.alineaire.fr/
